* {
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  margin: 0;
}

#container {
  margin: 8px;
}

#container > header {

}

#contaienr > main {

}

#container > footer {

}


.hide {
  display: none !important;
}
