:root {
  --border-color: #ccc;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 4px 16px;
}

#container > header {
  border-bottom: 1px solid var(--border-color);
}

#container > header h1 {
  margin-bottom: 5px;
  margin-top: 10px;
}

#cart {
  float: right;
  margin-top: 16px;
}

#cart.full {
  font-weight: 600;
}

#container > main {
  margin-top: 14px;
  min-height: 300px;
}

#model {
  border: 1px solid var(--border-color);
  background-color: #eee;
  width: 100%;
  min-height: 300px;
  margin-bottom: 12px;
}

.heading {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 6px;
}

.heading h3, .heading h4 {
  margin: 0px 0px;
}

.heading h3 {
  font-size: 26px;
  font-weight: 500;
}

.heading h4 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: -5px;
}

#price {
  font-size: 26px;
  padding: 8px 0px;
}

#price span {
  font-size: 16px;
}

.btn {
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #eee;
  padding: 12px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  background-color: #555;
}

.description {
  font-size: 16px;
}

.specs {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 30px;
}

.specs td {
  border-top: 1px solid var(--border-color);
}

.specs td.last {
  border-bottom: 1px solid var(--border-color);
}

#container > footer {
  margin-top: 10px;
  padding-top: 6px;
  text-align: center;
  border-top: 1px solid var(--border-color);
}


.hide {
  display: none !important;
}
